<div class="personalInformation-list-component">
    <div class="container-fluid">
        <div class="row header mb-3 mb-md-5">
            <div class="col-12 header-text px-4 px-md-5">
                {{ translations.personalInformation.headerText | translate }}
            </div>
            <div class="col-12 subHeader-text px-4 px-md-5">
                {{ translations.personalInformation.subHeaderText | translate }}
            </div>
            <div class="col-12 firstLastNameSubLabel-text px-4 px-md-5">
                {{ translations.personalInformation.firstLastNameSubLabel | translate }}
            </div>
        </div>

        <ng-container *ngIf="beneficiariesForm" [formGroup]="beneficiariesForm">
            <ng-container *ngIf="beneficiariesFormArray" formArrayName="beneficiaries">
                <div *ngFor="let form of beneficiariesFormArray.controls" class="user-selection" [formGroup]="form">
                    <div class="row mb-3 mb-md-5 px-4 px-md-5">
                        <div class="col-2 mr-40">
                            <input type="text" class="form-control custom-input" formControlName="firstName"
                                placeholder="{{ translations.personalInformation.firstNamePlaceholder | translate }}"
                                pInputText />
                        </div>
                        <div class="col-2 mr-40">
                            <input type="text" class="form-control custom-input" formControlName="lastName"
                                placeholder="{{ translations.personalInformation.lastNamePlaceholder | translate }}"
                                pInputText />
                        </div>
                        <div *ngIf="form.get('type').value == PRINCIPAL" class="col-2 mr-40">
                            <input type="text" class="form-control custom-input" formControlName="countryOfResidence"
                                placeholder="{{ translations.personalInformation.countryOfResidencePlaceholder | translate }}"
                                pInputText />
                        </div>
                        <div *ngIf="form.get('type').value != PRINCIPAL" class="col-2">
                            <app-dropdown-date-picker #dateOfBirth class="col-2" formControlName="dateOfBirth">
                            </app-dropdown-date-picker>
                        </div>
                        <div class="col-2 mr-40">
                            <input type="text" class="form-control custom-input" formControlName="passportNumbner"
                                placeholder="{{ translations.personalInformation.passportNumbnerPlaceholder | translate }}"
                                pInputText />
                        </div>
                        <div class="col-1">
                            <input type="text" class="form-control custom-input gender-input" formControlName="gender"
                                pInputText />
                            <div class="icons-div" style="margin-top: -50px;margin-left: -6px;">
                                <button class="btn"
                                    style="border-right: 3px solid gray; border-radius: 1px;box-shadow: none;"><i
                                        class="fa fa-male" style="font-size: 25px;color: #5DACFB;"></i></button>
                                <button class="btn"><i class="fa fa-female"
                                        style="font-size: 25px;color: #5DACFB;box-shadow: none;"></i></button>
                            </div>
                        </div>

                    </div>
                    <div *ngIf="form.get('type').value == PRINCIPAL" class="row mb-3 mb-md-5 px-4 px-md-5">
                        <div class="col-2 mr-40">
                            <input type="text" class="form-control custom-input" formControlName="mobileNumber"
                                placeholder="{{ translations.personalInformation.mobileNumbnerPlaceholder | translate }}"
                                pInputText />
                        </div>
                        <div class="col-2 mt-17">
                            <p-dropdown #yearDropdown class="custom-dropdown" id="destination-country"
                                [options]="countryOptions" name="year" formControlName="destinationCountry"
                                required="true" showClear="true" filter="true" [autoDisplayFirst]="false"
                                placeholder="{{ translations.personalInformation.destinationCountryPlaceholder | translate }}"
                                autoDisplayFirst="true" filter="true">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="row family-selection mb-3 mb-md-5">
                    <div class="col-12 spouse-text px-4 px-md-5">
                        <p class="w-100" (click)="addSpouse()">{{ translations.personalInformation.spouseText
                            |translate }}</p>
                    </div>

                    <div *ngIf="showSpouce" class="user-selection">
                        <div class="row mb-3 mb-md-5 px-4 px-md-5">
                            <div class="col-2 mr-45">
                                <input type="text" class="form-control custom-input"
                                    placeholder="{{ translations.personalInformation.firstNamePlaceholder | translate }}"
                                    pInputText />
                            </div>
                            <div class="col-2 mr-75">
                                <input type="text" class="form-control custom-input"
                                    placeholder="{{ translations.personalInformation.lastNamePlaceholder | translate }}"
                                    pInputText />
                            </div>

                            <div class="col-2 date-div" style="margin-left: -7px;margin-right: 20px;">
                                <app-dropdown-date-picker #dateOfBirth class="custom-date-picker">
                                </app-dropdown-date-picker>
                            </div>
                            <div class="col-2 mr-45">
                                <input type="text" class="form-control custom-input"
                                    placeholder="{{ translations.personalInformation.passportNumbnerPlaceholder | translate }}"
                                    pInputText />
                            </div>
                            <div class="col-1">
                                <input type="text" class="form-control custom-input gender-input" pInputText />
                                <div class="icons-div" style="margin-top: -50px;margin-left: -6px;">
                                    <button class="btn"
                                        style="border-right: 3px solid gray; border-radius: 1px;box-shadow: none;"><i
                                            class="fa fa-male" style="font-size: 25px;color: #5DACFB;"></i></button>
                                    <button class="btn"><i class="fa fa-female"
                                            style="font-size: 25px;color: #5DACFB;box-shadow: none;"></i></button>
                                </div>
                            </div>
                            <i class="fa fa-times" (click)="removeSpouce()" aria-hidden="true"
                                style="color: #F80303;margin-top: 25px;"></i>
                        </div>

                    </div>

                    <div class="col-12 children-text px-4 px-md-5">
                        <p (click)="addChildren()">{{ translations.personalInformation.childrenText |translate }}</p>
                    </div>
                    <ng-container *ngIf="showChildren">
                        <div *ngFor="let in of counter(childrenCount)" class="user-selection">
                            <div class="row mb-3 mb-md-5 px-4 px-md-5">
                                <div class="col-2 mr-45">
                                    <input type="text" class="form-control custom-input"
                                        placeholder="{{ translations.personalInformation.firstNamePlaceholder | translate }}"
                                        pInputText />
                                </div>
                                <div class="col-2 mr-75">
                                    <input type="text" class="form-control custom-input"
                                        placeholder="{{ translations.personalInformation.lastNamePlaceholder | translate }}"
                                        pInputText />
                                </div>

                                <div class="col-2 date-div" style="margin-left: -7px;margin-right: 20px;">
                                    <app-dropdown-date-picker #dateOfBirth class="custom-date-picker">
                                    </app-dropdown-date-picker>
                                </div>
                                <div class="col-2 mr-45">
                                    <input type="text" class="form-control custom-input"
                                        placeholder="{{ translations.personalInformation.passportNumbnerPlaceholder | translate }}"
                                        pInputText />
                                </div>
                                <div class="col-1">
                                    <input type="text" class="form-control custom-input gender-input" pInputText />
                                    <div class="icons-div" style="margin-top: -50px;margin-left: -6px;">
                                        <button class="btn"
                                            style="border-right: 3px solid gray; border-radius: 1px;box-shadow: none;"><i
                                                class="fa fa-male" style="font-size: 25px;color: #5DACFB;"></i></button>
                                        <button class="btn"><i class="fa fa-female"
                                                style="font-size: 25px;color: #5DACFB;box-shadow: none;"></i></button>
                                    </div>
                                </div>
                                <i class="fa fa-times" (click)="removeChildren()" aria-hidden="true"
                                    style="color: #F80303;margin-top: 25px;"></i>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>

        <div class="row footer mb-3 mb-md-5">
            <div class="col-12 footer-text px-4 px-md-5">
                {{ translations.personalInformation.footerText | translate }}
            </div>
            <div class="col-12 footer-buttons px-4 px-md-5">
                <button class="close-button"> {{ translations.personalInformation.buttons.closeButton | translate
                    }}</button>
                <button class="cancel-button">{{ translations.personalInformation.buttons.cancelButton | translate
                    }}</button>
                <div class="col-12 footer-submit-button px-4 px-md-5">
                    <button class="submit-button">{{ translations.personalInformation.buttons.submitButton | translate
                        }}</button>
                </div>
            </div>

        </div>
    </div>
</div>