<div class="change-password-component">
    <div class="container-fluid px-3 px-md-5">
        <div class="row title mb-3 mb-md-4">
            <div class="col-12">
                {{ translations.user.changePassword.title | translate }}
            </div>
        </div>
        <div class="row sub-title mb-3 mb-md-5">
            <div class="col-12">
                {{ translations.user.changePassword.subTitle | translate }}
            </div>
        </div>
        <div class="row form-group" *ngIf="form" [formGroup]="form">
            <div class="col-12 col-md-4 form-control-container">
                <input type="password" class="form-input" formControlName="oldPassword"
                    (change)="onOldPasswordChange($event)"
                    placeholder="{{ translations.user.changePassword.form.oldPassword | translate }}" pPassword />
                <span
                    *ngIf="(submitClicked || form.controls?.oldPassword?.touched) && form.controls?.oldPassword?.errors?.required"
                    class="validation-msg">{{ translations.errorMessages.fieldIsRequired | translate }}
                </span>
                <span
                    *ngIf="(submitClicked || form.controls?.oldPassword?.touched) && form.controls?.oldPassword?.errors?.minLength"
                    class="validation-msg">{{ translations.errorMessages.shouldBeAtLeastMinCharacters | translate: {
                    'min': '8' } }}
                </span>
                <span *ngIf="(submitClicked || form.controls?.oldPassword?.touched) && showInvalidPasswordMessage"
                    class="validation-msg">{{ translations.user.changePassword.errorMessages.invalidPassword | translate
                    }}
                </span>
            </div>
            <div class="col-12 col-md-4 form-control-container">
                <input type="password" class="form-input" formControlName="newPassword"
                    placeholder="{{ translations.user.changePassword.form.newPassword | translate }}" pPassword />
                <span
                    *ngIf="(submitClicked || form.controls?.newPassword?.touched) && form.controls?.newPassword?.errors?.required"
                    class="validation-msg">{{ translations.errorMessages.fieldIsRequired | translate }}
                </span>
                <span
                    *ngIf="(submitClicked || form.controls?.newPassword?.touched) && form.controls?.newPassword?.errors?.pattern"
                    class="validation-msg">{{ translations.user.changePassword.errorMessages.invalidPasswordPattern |
                    translate }}
                </span>
                <span *ngIf="(submitClicked || form.controls?.newPassword?.touched) && form.errors?.passwordsDoNotMatch"
                    class="validation-msg">{{ translations.user.changePassword.errorMessages.passwordsDoNotMatch |
                    translate }}
                </span>
            </div>
            <div class="col-12 col-md-4 form-control-container">
                <input type="password" class="form-input" formControlName="confirmPassword"
                    placeholder="{{ translations.user.changePassword.form.confirmPassword | translate }}" pPassword />
                <span
                    *ngIf="(submitClicked || form.controls?.confirmPassword?.touched) && form.controls?.confirmPassword?.errors?.required"
                    class="validation-msg">{{ translations.errorMessages.fieldIsRequired | translate }}
                </span>
                <span
                    *ngIf="(submitClicked || form.controls?.confirmPassword?.touched) && form.controls?.confirmPassword?.errors?.passwordsDoNotMatch"
                    class="validation-msg">{{ translations.user.changePassword.errorMessages.passwordsDoNotMatch |
                    translate }}
                </span>
            </div>
        </div>
        <div class="row btn-container">
            <div class="col-12">
                <button class="btn close-btn secondary-btn" (click)="close()">
                    {{ translations.user.changePassword.buttons.closeButton | translate}}
                </button>
                <button class="btn submit-btn primary-btn" type="submit" (click)="submit()" [disabled]="form.invalid">
                    {{ translations.user.changePassword.buttons.submitButton | translate }}
                </button>
            </div>
        </div>
    </div>
</div>