@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/variables.scss";

.change-password-component {
    .title {
        font-size: 1.3em;
        color: $primary-alt-color;
    }
    .form-group {
        .form-control-container {
            height: 8rem;
            .form-input {
                border: 0;
                border-radius: 5px;
                font-size: 0.8em;
                width: 100%;
                @include shadow();
                outline: none;
                padding: 1rem 0.75rem;
            }
        }
    }
    .validation-msg {
        color: $red;
    }
    .btn-container {
        .btn {
            &.primary-btn {
                @include btn();
                float: right;
                html.rtl & {
                    float: left;
                }
            }
            &.secondary-btn {
                @include btn(false);
                border: 1px solid $primary-alt-color !important;
                float: left;
                html.rtl & {
                    float: right;
                }
            }
            &:disabled {
                opacity: .4;
                cursor: not-allowed !important;
            }
        }
    }
}