@import "./variables.scss";
@import "./fonts.scss";

html {
    font-family: 'Segoe UI';
}

.disabled {
    cursor: not-allowed !important;
}

.hidden {
    display: none;
}



// mobile
@media all and (max-width:576px) {
    html {
        font-size: 15px;
        background-color: $background-color !important;
    }
}

// desktop
@media all and (min-width:577px) {
    .mobile-only {
        display: none;
    }
}
