/*------------- Sizes ----------------- */
$header-height: 100px;
$progress-bar-height: 0.5rem;

/*------------- FONT ----------------- */
$font-size-base: 1rem;

/*------------- COLORS ----------------- */
$primary-color: #006db6;
$primary-alt-color: #006db7;
$primary-light-color: #93b6d8;
$primary-transparent-color: #006db71a;
$light-accent-color: #E5F0F8;
$accent-color: #f89829;
$background-color: #f1f2f2;
$grey: #e0e0e0;
$white: #ffffff;